# Environments
.env
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# RAG Data (Avoid pushing SQLite/Database files)
data/database/
data/raw/
chroma.sqlite3

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
